footer {
    background-color: #000;
    color: #fff;
    padding: 40px 80px;
    margin-top: 50px;

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}

h3 {
    margin-bottom: 20px;
    color: #FAB90A;
}

p {
    margin: 5px 0px;
    font-size: 20px;
    cursor: pointer;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
}

button {
  width: 50%;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-left: 75px;
  
}

