/* section-1 */
.banner {
    padding-top: 100px;
}

.slider-item img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* end-section-1 */

/* section-2 */
.section-2 .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 50px;


}

.section-2 .inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddd;
    padding: 10px;
    gap: 15px;
}
.section-2 .icon {
    font-size: 25px;
}
.section-2 .inner-title {
    margin: 0;
    font-weight: 500;
}

.section-2 .inner-desc {
    margin: 0;
    color: #6e6b6b;
}

/* end-section-2 */

/* section-3  */
.section-3{
    margin-left: 30px;
    margin-right: 30px;
}

/* all-product */
.all-product .box{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 8px;
}
.all-product .box .inner-content{
    padding: 5px 8px;
}
.all-product .box .inner-content .inner-title {
    font-size: 17px;
    font-weight: 700;

}

.all-product .box .inner-content .inner-price {
    font-size: 15px;
    font-weight: 500;
    color: red;
}
.all-product .box .inner-content .btn-buy {
    background-color: #FECD4C;
    margin-bottom: 20px;
    font-weight: 500;

}
.all-product .box .inner-content .btn-buy:hover {
    background-color: #6e6b6b;
    transition: all 0.5s;
}


/* tab  */
.tab-style {
  padding: 10px;
  font-weight: 600;
}
.ant-tabs-tab-active .tab-style {
  background-color: #FEBB0A;
  color: black;
  padding: 10px;
}
.ant-tabs-ink-bar{
  display: none;
}
.tab-style:hover {
  background-color: #FEBB0A;
  color: rgb(39, 38, 38);
  transition: all 0.3s ease;
}

/* end-tab  */