.layout-default {
  a {
    text-decoration: none;
    color: #030303;
    font-weight: 600;
  }
  &__header {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
  }

  &__logo {
    font-weight: 600;
    font-size: 24px;
    color: #000000;
  }

  &__main {
    padding: 20px;
  }

  &__footer {
    background-color: orange;
    text-align: center;
    padding: 10px 0;
  }
  &__account {
    display: flex;
    gap: 20px;
  }
}

.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-left: 20px;
      position: relative;
    }
  }

  &__link {
    color: #000;
    text-decoration: none;
    font-weight: 500;

    &--active {
      color: #fff;
    }
  }
}