/* header */
.header {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}



.header-logo {
    font-size: 30px;
    font-weight: 500;
}
.header .menu ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-decoration: none;
}
.header .menu ul li{ 
    text-decoration: none;
    list-style: none;
}

/* end-header */

/* main  */
.layout-main {
    margin: 30px 0;
    background-color: #ddd;
    height: 350px;
}

/* end-main */

/* footer  */

.layout-footer {
    margin-top: 25px;
    text-align: center;
    background-color: orange;
}